.section-404 {
  margin-top: 30px;
  padding: 20px 0; 
  background: #fff; 
  text-align: center;
  
  img {
    width: 100%;
  }

  .background-404 {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
  
    h1, h3 {
      font-size: 80px;
    }
  } 
   
  .content-box-404 {
    margin-top: -50px;
  }
}
