$bodyText: #ddd;
$bodyBackground: #222;
$headerText: #bbb;
$headerTextActive: #fff;
$headerBackground: #375a7f;
$headerBackgroundUpdated: #f39c12;
$alertBackground: #444;
$successColor: #008958;
$errorColor: #c12546;

body.dark-mode {
  color: $bodyText;
  background: $bodyBackground;

  .nav-container {
    background: $bodyBackground;
  }

  .navbar-light {
    .navbar-brand {
      color: #fff;
    }

    .navbar-nav {
      .nav-link {
        color: $headerText;

        &:hover {
          color: $headerTextActive;
        }

        &.active {
          color: $headerTextActive;
        }
      }
    }
  }

  .tab-nav-bar {
    .nav-link.active {
      color: $headerText;
      background-color: $alertBackground;
      border-bottom: 1px solid $alertBackground;
    }
  }

  @media only screen and (min-width: 768px) {
    .nav-link {
      &.active {
        &:after {
          border-bottom-color: $headerBackground;
        }
      }
    }
  }

  .alert-header {
    background: $headerBackground;

    .btn-link {
      &.disabled {
        &:after {
          border-bottom-color: $bodyBackground;
        }
      }
    }

    &.updated {
      background: $headerBackgroundUpdated;
    }
  }

  .btn-header {
    background: #88a9c7;
    color: #092a48;

    &:hover {
      background: #a1c2e0;
    }
  }

  .dropdown-menu {
    background: $bodyBackground;
    border: 1px solid $alertBackground;
  }

  .no-link {
    color: rgba(255, 255, 255, 0.5);
    &:hover {
      color: $bodyText;
    }
  }

  .btn-link {
    color: #ccc;

    &:hover {
      color: #999;
    }
  }

  .form-headers,
  .btn-group {
    .btn-primary {
      color: #212529;
      background-color: #f8f9fa;
      border-color: #f8f9fa;

      &:hover {
        background-color: rgba(224, 224, 224, 0.9);
      }
    }

    .btn-outline-primary {
      color: #f8f9fa;
      border-color: #f8f9fa;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .btn-light {
      color: #fff;
      background-color: #6c757d;
      border-color: #6c757d;
    }

    .btn-light.disabled,
    .btn-light:disabled {
      color: #fff;
      background-color: #6c757d;
      border-color: #6c757d;
    }

    .btn-secondary.disabled,
    .btn-secondary:disabled {
      color: #212529;
      background-color: #f8f9fa;
      border-color: #f8f9fa;
    }

    .btn-darker {
      color: #fff;
      background-color: $alertBackground;
      border-color: $alertBackground;
    }
  }

  .list-group {
    .list-group-item-primary {
      color: #212529;
      background-color: #f8f9fa;
      border-color: #f8f9fa;

      &:hover {
        background-color: rgba(224, 224, 224, 0.9);
      }
    }

    .list-group-item-light {
      color: #fff;
      background-color: #6c757d;
      border-color: #6c757d;
    }

    .list-group-item-darker {
      color: #fff;
      background-color: $alertBackground;
      border-color: $alertBackground;
    }
  }

  .dropdown-divider {
    border-top: 1px solid #444;
  }

  .top-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 1em;
  }

  #root {
    background: $bodyBackground;
  }

  .alert-background {
    background: $alertBackground;
  }

  .table {
    color: $bodyText;

    thead {
      th {
        vertical-align: bottom;
        border-bottom: 2px solid #222;
      }
    }

    tbody {
      border-top: 2px solid #222;
    }

    th,
    td {
      border-top: 1px solid #222;
    }
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.125);
  }

  .table-success,
  .table-success > th,
  .table-success > td {
    background-color: $successColor;
  }

  .table-danger,
  .table-danger > th,
  .table-danger > td {
    background-color: $errorColor;
  }

  .table-warning {
    background-color: #666;
  }

  .month-amount {
    &:hover {
      background: #4b4b4b;
    }
  }

  .chart-label {
    color: #bbb;
    text-shadow: -1px 0 $alertBackground, 0 1px $alertBackground,
      1px 0 $alertBackground, 0 -1px $alertBackground;
  }

  .bg-success {
    background-color: $successColor !important;
  }

  .bg-danger {
    background-color: $errorColor !important;
  }

  .text-secondary {
    color: #999 !important;
  }

  a.media {
    color: $bodyText;

    &:hover {
      color: #bbb;
      text-decoration: none;
    }
  }

  .list-group-item {
    background-color: $alertBackground;
  }

  .list-group-item-link {
    color: #ccc;

    &:hover,
    &:active {
      background-color: #333;
      border-color: #333;
    }
  }

  .list-group-item-secondary {
    background-color: #333;
    color: #fff;
    border-color: #333;
  }

  .dropdown-item {
    color: $headerText;

    &.disabled {
      color: $headerTextActive;
    }

    &:hover {
      background-color: $alertBackground;
    }
  }
}
