label {
  font-weight: normal;
}
.navbar-nav > li > a.user-nav-item {
  margin-right: -30px;
}

.panel-login {
  margin-top: 100px;
}
.panel-login img {
  padding-bottom: 15px;
  width: 40px;
}
.panel-login input {
  margin-bottom: 10px;
}

.nowrap-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label-fake-input {
  display: inline-block;
  line-height: 34px;
  width: 100%;

  &.smaller {
    width: 60%;
  }
}

.alert-login span {
  display: block;
}

.alert-light {
  background-color: #f3f3f3;
  border-color: #f0f0f0;

  .breadcrumb {
    background: transparent;
    margin-bottom: 0;
    padding: 7px 0;  

    .nav-link {
      display: inline-block;
      padding: 0;
    }
  }
}

.progress {
  background: #ddd;
}
.loading-spinner {
  text-align: center;
  background: #f5f5f5;
  padding: 1.25em;
  > div {
    color: #999;
  }
}

.form-headers {
  .btn-link {
    padding: .375rem !important;
    cursor: pointer;
  }

  div.checkbox {
    padding: 6px 10px 6px 0;
  }
}

.amount-container {
  display: inline-block;

  span.amount {
    min-width: 60px; 
    width: 100%;
    height: 19px; 
    display: inline-block;
    text-align: right;
  }

  input.form-control {
    max-width: 95px;

    height: calc(2.25rem - 2px);
    padding: 0.25rem 0.5rem;
    line-height: 1.25;
  }

  &.bold {
    span.amount {
      font-weight: bold;
    }
  }

  &.label-fake-input {
    min-width: 95px;
  }

  &:not(.read-only) {
    span {
      cursor: pointer;
    }
  }
}

.month-amount {
  .amount-container {
    .amount {
      height: 34px;
    }
  }

  &:hover {
    background: #f7f7f7;
  }
}


table.floatThead-table {
  border-top: none;
  border-bottom: none;
  background-color: #fff;
}

.table-finances {
  font-size: 14px;
  thead {
    tr {
      .separator {
        position: relative;

        &:after {
          content: '';
          background: rgba(0,0,0,0.1);
          width: 1px;
          height: 18px;
          top: 10px;
          right: -1px;
          display: block;
          position: absolute;
        }
      }
    }
  }
  tbody {
    tr {
      td.vertical {
        vertical-align: middle !important;
        line-height: 0 !important;
        padding: 0 !important;

        div {
          transform: rotate(-90deg);
          line-height: 0;
        }
      }

      td.td-chevron {
        width: 24px;
        text-align: center;
      }
    }
  }
}

.table-finances tbody tr,
.table-finances thead tr th {
  text-align: center;
}
.table-finances tbody tr td, .table-finances tfoot tr td {
  text-align: right;
  padding: 6px 3px;
}
.table-finances tbody tr:not(.tr-total) td:not(:last-child):nth-child(n+3) {
  border-left: 1px solid;
  border-left-color:rgba(0,0,0,0.05);
}

.hidden {
  display: none !important;
}

.alert-save {
  span {
    line-height: 38px;
    margin: 6px 0;

    i {
      padding-right: 5px;
    }
  }

  span.title {
    font-size: 2rem;
    color: #333;
    display: inline-block;
    text-align: center;
    width: calc(100% - 200px);
    position: absolute;
    left: 0;
    margin: 0 100px;
  }

  .btn-save {
    margin-left: 10px;
    
    i {
      padding-right: 5px;
    }
  }
}

.mo-fire {
  text-align: center;
}

.chart-container {
  position: relative;
}

.chart-label {
  color: #666;
  position: absolute;
  top: calc(50% - 18px);
  width: calc(100% - 30px);
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
  display: inline-block;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
